*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(32, 34, 37);
}
.fundo{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#2F3136;
    width:600px;
    padding:50px;
    margin:100px auto;
    border-radius:15px;
}
h1{
    font-size:25px;
    font-weight: bold;
    text-decoration:underline;
    color:#FFF;
}
.button{
    padding:10px 15px;
    margin:30px 0px;
    border-radius:8px;
    border:1px solid #000;
    background:linear-gradient(to right, #191970, #000066);
    color:#FFF;
    outline:0;
    cursor:pointer;
    text-decoration:none;
}
.itemList{
    width:200px;
    height:30px;
    padding-left:10px;
    font-size:15px;
    border-radius:20px;
    outline:0;
    background-color:#D0CEC9;
    border:1px solid #AAA;
}
.itemList::placeholder{
    color:#000;
}
li{
    padding:5px;
    font-size:16px;
    color:#FFF;
}